.form__ultimate-lo {
    .form__footer {
      margin-left: -1rem;
      margin-right: -1rem;
      margin-bottom: 0 !important;
      justify-content: end;
      flex-flow: row-reverse;
      padding-right: 1rem;
    }
}