@import './base';
@import './ui-fort/bamburgh';

.text-indent {
  text-indent: 0.75rem;
}

.div-divider {
  height: 0;
  margin: 1rem 0;
  overflow: hidden;
  border-top: 1px solid var(--app-border-color);
}

.curser_pointer {
  cursor: pointer;
}

$pendding: #3c44b1;
$background-pendding: #eceef7;
$accepted: #f4772e;
$background-accepted: #fffbf2;
$resolved: #1bc943;
$background-resolved: #e5f9ed;
$rejected: #f83245;
$background-rejected: #fff5f6;

.active {
  &__pendding {
    border-left-color: $pendding !important;
    &:hover {
      background-color: $background-pendding;
    }
  }

  &__accepted {
    border-left-color: $accepted !important;
    &:hover {
      background-color: $background-accepted;
    }
  }

  &__resolved {
    border-left-color: $resolved !important;
    &:hover {
      background-color: $background-resolved;
    }
  }

  &__rejected {
    border-left-color: $rejected !important;
    &:hover {
      background-color: $background-rejected;
    }
  }
}

.badge {
  &__pendding {
    color: $pendding;
    background-color: $background-pendding;
  }

  &__accepted {
    color: $accepted;
    background-color: $background-accepted;
  }

  &__resolved {
    color: $resolved;
    background-color: $background-resolved;
  }

  &__rejected {
    color: $rejected;
    background-color: $background-rejected;
  }
}
